body {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/remedial-progra.appspot.com/o/fondo-mecanico.jpg?alt=media&token=2ec365bd-ac58-431c-b167-24bca328cb47");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(30, 144, 255, 0.9);
    background-position: center;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
#mainbody {

}
#admh1{
    color: whitesmoke;
}
#maindiv {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    padding-top: 5%;
    display: table-cell;
    background-color: rgba(118, 118, 118, 0.75);
    width: 300px;
    height: 400px;
    border-radius: 30px;
    color: whitesmoke;
    text-align: center;
    font-family: Roboto, sans-serif;
}

#formbody{
width: fit-content;
}

#formcontainer{
    padding-top: 5%;
    display: table-cell;
    width: 50%;
    background-color: rgba(118,118,118,0.8);
    color: whitesmoke;
    text-align: left;
    font-family: Roboto, sans-serif;
}

#formdiv{
 color: whitesmoke;
    border-radius: 5px;
    text-align: left;
}

input[type=text], input[type=password] {
    margin-left: 20px;
    padding-left: 10px;
    height: 15px;
    border-radius: 50px;
}

/*input[type=submit] {
    border-radius: 2px;
    width: 125px;
    height: 30px;
    padding-bottom: 5%;
    font-family: "Roboto Black";
    font-size: large;
}*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
